*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

.Head{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
}

.MainNavbar{
    display: flex;
    gap: 25px;
}

.MainNavbar p a{
    color: black;
    font-weight: 400;
    font-size: 18px;
}

.Amallar{
    display: flex;
    gap: 25px;
}

.Text-main{
    background-image: url("img\(1_\).png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 828px;
    width: 703px;
}

.MainsContainer{
    display: flex;
    justify-content: center;
}

.Text-main p,h1,p{
    text-align: end;
}

.yordam{
    background-color: #E3CEE3;
    width: 503px;
    height: 582px;
}

.yordam h1{
    font-family: "Lobster Two", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: #9F86D9;
    font-size: 116.18px;
    font-weight: 700;
    text-shadow: 10px 5px 2px white, 10px 7px 4px;
}

.yordam p:nth-child(1){
    font-size: 30px;
}

.yordam p,h1{
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 0px;
}

.p2{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 32px;
    font-weight: 700;
}  

.MainGroup{
    background-image: url("banner1\ 1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 495px;
    padding: 10px 25px 45px;
    background-position: center;
    margin-top: 100px;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 45px;
}

.MainGroup h2{
    font-family: "Lobster Two", sans-serif;
    font-weight: 700;
    font-size: 116.18px;
    color: #9F86D9;
    text-shadow: 10px 5px 2px white, 10px 7px 4px;
}

.container{
    padding: 50px;
    padding-top: 0px;
}

.Ptag{
    text-align: start;
    font-weight: 700;
    font-size: 30px;
}

.imgText-1 img{
    width: 250px;
}

.imgText-2 img{
    width: 622px;
}


.MainText{
    width: 336;
}

.MainText p:nth-child(1){
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: center;
    background-color: #9F86D9;
    border-radius: 46px;
    color: white;
    width: 150px;
}

.MainCard p{
    text-align: start;
    text-align: center;
}

.MainCard button{
    justify-content: center;
}

.MainCard{
    background-color: #EFF2F3;
    width: 200px;
    height: 600px;
    height: 350px;
    padding: 10px 5px 10px;
    display: flex;
    gap: 45px;
    align-items: center;
    flex-direction: column;
}

.TEXT-D{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.CardNum-1 p{
    text-align: start;
}

.CardNum-1 p:nth-child(3){
    color: #9F86D9;
}

.SectionText{
    display: flex;
    gap: 45px;
    margin-top: 50px;
}

.CardTxt-img img{
    width: 290px;
}

.CardTxt-img{
    display: flex;
    gap: 45px;
    justify-content: space-around;
}

.NumOne p, h2{
    text-align: start;
    text-align: center;
    color: white;
}

footer{
    display: flex;
    flex-direction: column;
    gap: 45px;
    text-align: center;
    background-color: black;
    align-items: center;
    margin-top: 45px;
}